<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342483473808-kd4bauq6hb23nmkjuniemb50vumdu2i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342483473808-kd4bauq6hb23nmkjuniemb50vumdu2i0</string>
	<key>API_KEY</key>
	<string>AIzaSyChig88hYB2DLi-eXzkYJDHLbQqwmM_3PE</string>
	<key>GCM_SENDER_ID</key>
	<string>342483473808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>afeka.finalproject</string>
	<key>PROJECT_ID</key>
	<string>finalpios</string>
	<key>STORAGE_BUCKET</key>
	<string>finalpios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342483473808:ios:84870839450557dc4f8f15</string>
</dict>
</plist>